@import "../../global.scss";

.portfolio{
  margin: 0;
  background-color: #667A89;
}

.responsive {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}